In [1]:
import pandas as pd

In [2]:
qs_2017=pd.read_csv("/Users/helwinlin/Downloads/kaggle_ml_ds_survey/kaggle-survey-2017/schema.csv")

In [3]:
qs_2018=pd.read_csv("/Users/helwinlin/Downloads/kaggle_ml_ds_survey/kaggle-survey-2018/SurveySchema.csv")

In [4]:
qs_2019=pd.read_csv("/Users/helwinlin/Downloads/kaggle_ml_ds_survey/kaggle-survey-2019/questions_only.csv")

In [5]:
qs_2017

,Column,Question,Asked
0,GenderSelect,Select your gender identity. - Selected Choice,All
1,GenderFreeForm,Select your gender identity. - A different ide...,All
2,Country,Select the country you currently live in.,All
3,Age,What's your age?,All
4,EmploymentStatus,What's your current employment status?,All
...,...,...,...
285,JobFactorRemote,How are you assessing potential job opportunit...,Learners
286,JobFactorIndustry,How are you assessing potential job opportunit...,Learners
287,JobFactorLeaderReputation,How are you assessing potential job opportunit...,Learners
288,JobFactorDiversity,How are you assessing potential job opportunit...,Learners
289,JobFactorPublishingOpportunity,How are you assessing potential job opportunit...,Learners

In [6]:
qs_2018.head(1)

,2018 Kaggle Machine Learning and Data Science Survey,Q1,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,...,Q47,Q48,Q49,Q5,Q50,Q6,Q7,Q8,Q9,Time from Start to Finish (seconds)
0,Question:,What is your gender? - Selected Choice,Does your current employer incorporate machine...,Select any activities that make up an importan...,What is the primary tool that you use at work ...,Which of the following integrated development ...,Which of the following hosted notebooks have y...,Which of the following cloud computing service...,What programming languages do you use on a reg...,What specific programming language do you use ...,...,What methods do you prefer for explaining and/...,"Do you consider ML models to be ""black boxes"" ...",What tools and methods do you use to make your...,Which best describes your undergraduate major?...,What barriers prevent you from making your wor...,Select the title most similar to your current ...,In what industry is your current employer/cont...,How many years of experience do you have in yo...,What is your current yearly compensation (appr...,Duration (in seconds)

In [7]:
qs_2018.loc[0]

2018 Kaggle Machine Learning and Data Science Survey                                            Question:
Q1                                                                 What is your gender? - Selected Choice
Q10                                                     Does your current employer incorporate machine...
Q11                                                     Select any activities that make up an importan...
Q12                                                     What is the primary tool that you use at work ...
Q13                                                     Which of the following integrated development ...
Q14                                                     Which of the following hosted notebooks have y...
Q15                                                     Which of the following cloud computing service...
Q16                                                     What programming languages do you use on a reg...
Q17                                                     What specific programming language do you use ...
Q18                                                     What programming language would you recommend ...
Q19                                                     What machine learning frameworks have you used...
Q2                                                                            What is your age (# years)?
Q20                                                     Of the choices that you selected in the previo...
Q21                                                     What data visualization libraries or tools hav...
Q22                                                     Of the choices that you selected in the previo...
Q23                                                     Approximately what percent of your time at wor...
Q24                                                     How long have you been writing code to analyze...
Q25                                                     For how many years have you used machine learn...
Q26                                                      Do you consider yourself to be a data scientist?
Q27                                                     Which of the following cloud computing product...
Q28                                                     Which of the following machine learning produc...
Q29                                                     Which of the following relational database pro...
Q3                                                              In which country do you currently reside?
Q30                                                     Which of the following big data and analytics ...
Q31                                                     Which types of data do you currently interact ...
Q32                                                     What is the type of data that you currently in...
Q33                                                     Where do you find public datasets? (Select all...
Q34                                                     During a typical data science project at work ...
Q35                                                     What percentage of your current machine learni...
Q36                                                     On which online platforms have you begun or co...
Q37                                                     On which online platform have you spent the mo...
Q38                                                     Who/what are your favorite media sources that ...
Q39                                                     How do you perceive the quality of online lear...
Q4                                                      What is the highest level of formal education ...
Q40                                                     Which better demonstrates expertise in data sc...
Q41                                                     How do you perceive the importance of the foll...
Q42                                                     What metrics do you or your organization use t...
Q43                                                     Approximately what percent of your data projec...
Q44                                                     What do you find most difficult about ensuring...
Q45                                                     In what circumstances would you explore model ...
Q46                                                     Approximately what percent of your data projec...
Q47                                                     What methods do you prefer for explaining and/...
Q48                                                     Do you consider ML models to be "black boxes" ...
Q49                                                     What tools and methods do you use to make your...
Q5                                                      Which best describes your undergraduate major?...
Q50                                                     What barriers prevent you from making your wor...
Q6                                                      Select the title most similar to your current ...
Q7                                                      In what industry is your current employer/cont...
Q8                                                      How many years of experience do you have in yo...
Q9                                                      What is your current yearly compensation (appr...
Time from Start to Finish (seconds)                                                 Duration (in seconds)
Name: 0, dtype: object

In [8]:
qs_2019.head()

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,Does your current employer incorporate machine...,Select any activities that make up an importan...,...,Which categories of ML tools do you use on a r...,Which categories of computer vision methods do...,Which of the following natural language proces...,Which of the following machine learning framew...,Which of the following cloud computing platfor...,Which specific cloud computing products do you...,Which specific big data / analytics products d...,Which of the following machine learning produc...,Which automated machine learning tools (or par...,Which of the following relational database pro...

In [9]:
for col,qs in zip(qs_2017["Column"],qs_2017["Question"]):
    print("{}:{}".format(col,qs))

GenderSelect:Select your gender identity. - Selected Choice
GenderFreeForm:Select your gender identity. - A different identity - Text
Country:Select the country you currently live in.
Age:What's your age?
EmploymentStatus:What's your current employment status?
StudentStatus:Are you currently enrolled as a student at a degree granting school?
LearningDataScience:Are you currently focused on learning data science skills either formally or informally?
KaggleMotivationFreeForm:What's your motivation for being a Kaggle user?
CodeWriter:Do you write code to analyze data in your current job, freelance contracts, or most recent job if retired?
CareerSwitcher:Are you actively looking to switch careers to data science?
CurrentJobTitleSelect:Select the option that's most similar to your current job/professional title (or most recent title if retired). - Selected Choice
CurrentJobTitleFreeForm:Select the option that's most similar to your current job/professional title (or most recent title if retired). - Other - Text
TitleFit:How adequately do you feel your title describes what you do (or what you did if retired)?
CurrentEmployerType:Which of the following describe your current employer (or most recent employer if retired)? (Select all that apply)
MLToolNextYearSelect:Which tool or technology are you most excited about learning in the next year? (Select one option) - Selected Choice
MLToolNextYearFreeForm:Which tool or technology are you most excited about learning in the next year? (Select one option) - Other - Text
MLMethodNextYearSelect:Which ML/DS method are you most excited about learning in the next year? (Select one option) - Selected Choice
MLMethodNextYearFreeForm:Which ML/DS method are you most excited about learning in the next year? (Select one option) - Other - Text
LanguageRecommendationSelect:What programming language would you recommend a new data scientist learn first? (Select one option) - Selected Choice
LanguageRecommendationFreeForm:What programming language would you recommend a new data scientist learn first? (Select one option) - Other - Text
PublicDatasetsSelect:Where do you find public datasets to practice data science skills? (Select all that apply) - Selected Choice
PublicDatasetsFreeForm:Where do you find public datasets to practice data science skills? (Select all that apply) - Other - Text
PersonalProjectsChallengeFreeForm:What is your biggest challenge with the public datasets you find for personal projects?
LearningPlatformSelect:What platforms & resources have you used to continue learning data science skills? (Select all that apply) - Selected Choice
LearningPlatformCommunityFreeForm:What platforms & resources have you used to continue learning data science skills? (Select all that apply) - Non-Kaggle online communities - Text
LearningPlatformFreeForm1:What platforms & resources have you used to continue learning data science skills? (Select all that apply) - Other - Text1
LearningPlatformFreeForm2:What platforms & resources have you used to continue learning data science skills? (Select all that apply) - Other - Text2
LearningPlatformFreeForm3:What platforms & resources have you used to continue learning data science skills? (Select all that apply) - Other - Text3
LearningPlatformUsefulnessArxiv:How useful did you find these platforms & resources for learning data science skills? - Arxiv
LearningPlatformUsefulnessBlogs:How useful did you find these platforms & resources for learning data science skills? - Blogs
LearningPlatformUsefulnessCollege:How useful did you find these platforms & resources for learning data science skills? - College/University
LearningPlatformUsefulnessCompany:How useful did you find these platforms & resources for learning data science skills? - Company internal community
LearningPlatformUsefulnessConferences:How useful did you find these platforms & resources for learning data science skills? - Conferences
LearningPlatformUsefulnessFriends:How useful did you find these platforms & resources for learning data science skills? - Friends network
LearningPlatformUsefulnessKaggle:How useful did you find these platforms & resources for learning data science skills? - Kaggle
LearningPlatformUsefulnessNewsletters:How useful did you find these platforms & resources for learning data science skills? - Newsletters
LearningPlatformUsefulnessCommunities:How useful did you find these platforms & resources for learning data science skills? - Non-Kaggle online communities
LearningPlatformUsefulnessCommunitiesFreeForm:How useful did you find these platforms & resources for learning data science skills? - Non-Kaggle online communities - Text
LearningPlatformUsefulnessDocumentation:How useful did you find these platforms & resources for learning data science skills? - Official documentation
LearningPlatformUsefulnessCourses:How useful did you find these platforms & resources for learning data science skills? - Online courses
LearningPlatformUsefulnessProjects:How useful did you find these platforms & resources for learning data science skills? - Personal Projects
LearningPlatformUsefulnessPodcasts:How useful did you find these platforms & resources for learning data science skills? - Podcasts
LearningPlatformUsefulnessSO:How useful did you find these platforms & resources for learning data science skills? - Stack Overflow Q&A
LearningPlatformUsefulnessTextbook:How useful did you find these platforms & resources for learning data science skills? - Textbook
LearningPlatformUsefulnessTradeBook:How useful did you find these platforms & resources for learning data science skills? - Trade book
LearningPlatformUsefulnessTutoring:How useful did you find these platforms & resources for learning data science skills? - Tutoring/mentoring
LearningPlatformUsefulnessYouTube:How useful did you find these platforms & resources for learning data science skills? - YouTube Videos
LearningPlatformUsefulnessFreeForm1Select:How useful did you find these platforms & resources for learning data science skills? - Other1
LearningPlatformUsefulnessFreeForm1SelectFreeForm:How useful did you find these platforms & resources for learning data science skills? - Other - Text1
LearningPlatformUsefulnessFreeForm2Select:How useful did you find these platforms & resources for learning data science skills? - Other2
LearningPlatformUsefulnessFreeForm2SelectFreeForm:How useful did you find these platforms & resources for learning data science skills? - Other - Text2
LearningPlatformUsefulnessFreeForm3Select:How useful did you find these platforms & resources for learning data science skills? - Other3
LearningPlatformUsefulnessFreeForm3SelectFreeForm:How useful did you find these platforms & resources for learning data science skills? - Other - Text3
BlogsPodcastsNewslettersSelect:What are your top 3 favorite data science blogs/podcasts/newsletters? (Select up to three options) - Selected Choice
BlogsPodcastsNewslettersFreeForm:What are your top 3 favorite data science blogs/podcasts/newsletters? (Select up to three options) - Other (Separate different answers with semicolon) - Text
LearningDataScienceTime:How long have you been learning data science?
JobSkillImportanceBigData:How important do you think the below skills or certifications are in getting a data science job? - 'Big Data' technology
JobSkillImportanceDegree:How important do you think the below skills or certifications are in getting a data science job? - Academic degree in related field
JobSkillImportanceStats:How important do you think the below skills or certifications are in getting a data science job? - Advanced Statistics
JobSkillImportanceEnterpriseTools:How important do you think the below skills or certifications are in getting a data science job? - Enterprise Tools (e.g. SAS)
JobSkillImportancePython:How important do you think the below skills or certifications are in getting a data science job? - Fluent in Python
JobSkillImportanceR:How important do you think the below skills or certifications are in getting a data science job? - Fluent in R
JobSkillImportanceSQL:How important do you think the below skills or certifications are in getting a data science job? - Fluent in SQL
JobSkillImportanceKaggleRanking:How important do you think the below skills or certifications are in getting a data science job? - Kaggle ranking
JobSkillImportanceMOOC:How important do you think the below skills or certifications are in getting a data science job? - Online certification or MOOC
JobSkillImportanceVisualizations:How important do you think the below skills or certifications are in getting a data science job? - Visualization Tools
JobSkillImportanceOtherSelect1:How important do you think the below skills or certifications are in getting a data science job? - Other1
JobSkillImportanceOtherSelect1FreeForm:How important do you think the below skills or certifications are in getting a data science job? - Other - Text1
JobSkillImportanceOtherSelect2:How important do you think the below skills or certifications are in getting a data science job? - Other2
JobSkillImportanceOtherSelect2FreeForm:How important do you think the below skills or certifications are in getting a data science job? - Other - Text2
JobSkillImportanceOtherSelect3:How important do you think the below skills or certifications are in getting a data science job? - Other3
JobSkillImportanceOtherSelect3FreeForm:How important do you think the below skills or certifications are in getting a data science job? - Other - Text3
CoursePlatformSelect:On which online platforms have you begun or completed data science courses? - Selected Choice
CoursePlatformFreeForm:On which online platforms have you begun or completed data science courses? - Other - Text
HardwarePersonalProjectsSelect:Which computing hardware do you use for your personal ML/DS projects? - Selected Choice
HardwarePersonalProjectsFreeForm:Which computing hardware do you use for your personal ML/DS projects? - Other - Text
TimeSpentStudying:On average, how many hours a week do you spend studying data science?
ProveKnowledgeSelect:What's the most important way you can prove your knowledge of ML/DS? (Select one option) - Selected Choice
ProveKnowledgeFreeForm:What's the most important way you can prove your knowledge of ML/DS? (Select one option) - Other - Text
ImpactfulAlgorithmFreeForm:What's the most impactful machine learning algorithm you've ever deployed?
InterestingProblemFreeForm:If given the necessary resources and time, what problem would you personally choose to tackle with machine learning?
DataScienceIdentitySelect:Do you currently consider yourself a data scientist? - Selected Choice
DataScienceIdentityFreeForm:Do you currently consider yourself a data scientist? - Sort of (Explain more) - Text
FormalEducation:Which level of formal education have you attained?
MajorSelect:Which best describes your undergraduate major? - Selected Choice
MajorFreeForm:Which best describes your undergraduate major? - Other - Text
Tenure:How long have you been writing code to analyze data?
PastJobTitlesSelect:Select all other job titles you've held in the past 10 years? (Select all that apply) - Selected Choice
PastJobTitlesFreeForm:Select all other job titles you've held in the past 10 years? (Select all that apply) - Other - Text
FirstTrainingSelect:How did you first start your machine learning / data science training? (Select one option) - Selected Choice
FirstTrainingFreeForm:How did you first start your machine learning / data science training? (Select one option) - Other - Text
LearningCategorySelftTaught:What percentage of your current machine learning / data science training falls under each category? (Total must equal 100%) - Self-taught
LearningCategoryOnlineCourses:What percentage of your current machine learning / data science training falls under each category? (Total must equal 100%) - Online courses (coursera, udemy, edx, ..etc.)
LearningCategoryWork:What percentage of your current machine learning / data science training falls under each category? (Total must equal 100%) - Work
LearningCategoryUniversity:What percentage of your current machine learning / data science training falls under each category? (Total must equal 100%) - University
LearningCategoryKaggle:What percentage of your current machine learning / data science training falls under each category? (Total must equal 100%) - Kaggle competitions
LearningCategoryOther:What percentage of your current machine learning / data science training falls under each category? (Total must equal 100%) - Other
LearningCategoryOtherFreeForm:What percentage of your current machine learning / data science training falls under each category? (Total must equal 100%) - Other - Text
MLSkillsSelect:In which areas of machine learning do you consider yourself competent? (Select all that apply) - Selected Choice
MLSkillsFreeForm:In which areas of machine learning do you consider yourself competent? (Select all that apply) - Other (please specify; separate by semi-colon) - Text
MLTechniquesSelect:In which machine learning techniques do you consider yourself competent? (Select all that apply) - Selected Choice
MLTechniquesFreeform:In which machine learning techniques do you consider yourself competent? (Select all that apply) - Other (please specify; separate by semi-colon) - Text
ParentsEducation:What's the highest level of education completed by either of your parents?
EmployerIndustry:Which industry is your current employer/contract in (or most recent employer if retired)? - Selected Choice
EmployerIndustryOtherFreeForm:Which industry is your current employer/contract in (or most recent employer if retired)? - Other - Text
EmployerSize:How many employees work at your current or most recent company?
EmployerSizeChange:How has the size of your organization's ML/DS staff changed over the past year?
EmployerMLTime:How many years has your organization been utilizing advanced analytics/data science?
EmployerSearchMethod:How did you find your current job? - Selected Choice
EmployerSearchMethodOtherFreeForm:How did you find your current job? - Some other way - Text
UniversityImportance:How important was your formal education or degree to your career success analyzing data?
JobFunctionSelect:What is the primary function of your role? (Select one option) - Selected Choice
JobFunctionFreeForm:What is the primary function of your role? (Select one option) - Other - Text
WorkHardwareSelect:At work, which computing hardware do you use for ML/DS projects? - Selected Choice
WorkHardwareFreeForm:At work, which computing hardware do you use for ML/DS projects? - Other - Text
WorkDataTypeSelect:At work, which kind of data do you typically work with? - Selected Choice
WorkDataTypeFreeForm:At work, which kind of data do you typically work with? - Other - Text
WorkProductionFrequency:At work, how often do the models you build get put into production?
WorkLibrariesFreeForm:At work, which libraries do you typically use? (Please separate different answers with semicolons)
WorkDatasetSize:Of the models you've trained at work, what is the typical size of datasets used?
WorkAlgorithmsSelect:At work, which algorithms/analytic methods do you typically use? (Select all that apply) - Selected Choice
WorkAlgorithmsFreeForm:At work, which algorithms/analytic methods do you typically use? (Select all that apply) - Other - Text
WorkToolsSelect:For work, which data science/analytics tools, technologies, and languages have you used in the past year? (Select all that apply) - Selected Choice
WorkToolsFreeForm1:For work, which data science/analytics tools, technologies, and languages have you used in the past year? (Select all that apply) - Other - Text1
WorkToolsFreeForm2:For work, which data science/analytics tools, technologies, and languages have you used in the past year? (Select all that apply) - Other - Text2
WorkToolsFreeForm3:For work, which data science/analytics tools, technologies, and languages have you used in the past year? (Select all that apply) - Other - Text3
WorkToolsFrequencyAmazonML:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - Amazon Machine Learning
WorkToolsFrequencyAWS:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - Amazon Web services
WorkToolsFrequencyAngoss:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - Angoss
WorkToolsFrequencyC:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - C/C++
WorkToolsFrequencyCloudera:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - Cloudera
WorkToolsFrequencyDataRobot:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - DataRobot
WorkToolsFrequencyFlume:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - Flume
WorkToolsFrequencyGCP:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - Google Cloud Compute
WorkToolsFrequencyHadoop:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - Hadoop/Hive/Pig
WorkToolsFrequencyIBMCognos:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - IBM Cognos
WorkToolsFrequencyIBMSPSSModeler:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - IBM SPSS Modeler
WorkToolsFrequencyIBMSPSSStatistics:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - IBM SPSS Statistics
WorkToolsFrequencyIBMWatson:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - IBM Watson / Waton Analytics
WorkToolsFrequencyImpala:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - Impala
WorkToolsFrequencyJava:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - Java
WorkToolsFrequencyJulia:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - Julia
WorkToolsFrequencyJupyter:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - Jupyter notebooks
WorkToolsFrequencyKNIMECommercial:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - KNIME (commercial version)
WorkToolsFrequencyKNIMEFree:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - KNIME (free version)
WorkToolsFrequencyMathematica:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - Mathematica
WorkToolsFrequencyMATLAB:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - MATLAB/Octave
WorkToolsFrequencyAzure:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - Microsoft Azure Machine Learning
WorkToolsFrequencyExcel:At work, how often did you use the following data science/analytics tools, technologies, and languages this past year? - Microsoft Excel Data Mining

In [10]:
for i in range(1,51):
    col_name="Q{}".format(i)
    print("Q{}:{}".format(i,qs_2018.loc[0,col_name])) #取出0列的col_name資訊

Q1:What is your gender? - Selected Choice
Q2:What is your age (# years)?
Q3:In which country do you currently reside?
Q4:What is the highest level of formal education that you have attained or plan to attain within the next 2 years?
Q5:Which best describes your undergraduate major? - Selected Choice
Q6:Select the title most similar to your current role (or most recent title if retired): - Selected Choice
Q7:In what industry is your current employer/contract (or your most recent employer if retired)? - Selected Choice
Q8:How many years of experience do you have in your current role?
Q9:What is your current yearly compensation (approximate $USD)?
Q10:Does your current employer incorporate machine learning methods into their business?
Q11:Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice
Q12:What is the primary tool that you use at work or school to analyze data? (include text response) - Selected Choice
Q13:Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice
Q14:Which of the following hosted notebooks have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice
Q15:Which of the following cloud computing services have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice
Q16:What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice
Q17:What specific programming language do you use most often? - Selected Choice
Q18:What programming language would you recommend an aspiring data scientist to learn first? - Selected Choice
Q19:What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice
Q20:Of the choices that you selected in the previous question, which ML library have you used the most? - Selected Choice
Q21:What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Selected Choice
Q22:Of the choices that you selected in the previous question, which specific data visualization library or tool have you used the most? - Selected Choice
Q23:Approximately what percent of your time at work or school is spent actively coding?
Q24:How long have you been writing code to analyze data?
Q25:For how many years have you used machine learning methods (at work or in school)?
Q26:Do you consider yourself to be a data scientist?
Q27:Which of the following cloud computing products have you used at work or school in the last 5 years (Select all that apply)? - Selected Choice
Q28:Which of the following machine learning products have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice
Q29:Which of the following relational database products have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice
Q30:Which of the following big data and analytics products have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice
Q31:Which types of data do you currently interact with most often at work or school? (Select all that apply) - Selected Choice
Q32:What is the type of data that you currently interact with most often at work or school? - Selected Choice
Q33:Where do you find public datasets? (Select all that apply) - Selected Choice
Q34:During a typical data science project at work or school, approximately what proportion of your time is devoted to the following? (Answers must add up to 100%) - Cleaning data
Q35:What percentage of your current machine learning/data science training falls under each category? (Answers must add up to 100%) - Self-taught
Q36:On which online platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice
Q37:On which online platform have you spent the most amount of time? - Selected Choice
Q38:Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice
Q39:How do you perceive the quality of online learning platforms and in-person bootcamps as compared to the quality of the education provided by traditional brick and mortar institutions? - Online learning platforms and MOOCs:
Q40:Which better demonstrates expertise in data science: academic achievements or independent projects? - Your views:
Q41:How do you perceive the importance of the following topics? - Fairness and bias in ML algorithms:
Q42:What metrics do you or your organization use to determine whether or not your models were successful? (Select all that apply) - Selected Choice
Q43:Approximately what percent of your data projects involved exploring unfair bias in the dataset and/or algorithm?
Q44:What do you find most difficult about ensuring that your algorithms are fair and unbiased? (Select all that apply)
Q45:In what circumstances would you explore model insights and interpret your model's predictions? (Select all that apply)
Q46:Approximately what percent of your data projects involve exploring model insights?
Q47:What methods do you prefer for explaining and/or interpreting decisions that are made by ML models? (Select all that apply) - Selected Choice
Q48:Do you consider ML models to be "black boxes" with outputs that are difficult or impossible to explain?
Q49:What tools and methods do you use to make your work easy to reproduce? (Select all that apply) - Selected Choice
Q50:What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice

In [11]:
for i in range(1,35):
    col_name="Q{}".format(i)
    print("Q{}:{}".format(i,qs_2019.loc[0,col_name]))

Q1:What is your age (# years)?
Q2:What is your gender? - Selected Choice
Q3:In which country do you currently reside?
Q4:What is the highest level of formal education that you have attained or plan to attain within the next 2 years?
Q5:Select the title most similar to your current role (or most recent title if retired): - Selected Choice
Q6:What is the size of the company where you are employed?
Q7:Approximately how many individuals are responsible for data science workloads at your place of business?
Q8:Does your current employer incorporate machine learning methods into their business?
Q9:Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice
Q10:What is your current yearly compensation (approximate $USD)?
Q11:Approximately how much money have you spent on machine learning and/or cloud computing products at your work in the past 5 years?
Q12:Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice
Q13:On which platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice
Q14:What is the primary tool that you use at work or school to analyze data? (Include text response) - Selected Choice
Q15:How long have you been writing code to analyze data (at work or at school)?
Q16:Which of the following integrated development environments (IDE's) do you use on a regular basis?  (Select all that apply) - Selected Choice
Q17:Which of the following hosted notebook products do you use on a regular basis?  (Select all that apply) - Selected Choice
Q18:What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice
Q19:What programming language would you recommend an aspiring data scientist to learn first? - Selected Choice
Q20:What data visualization libraries or tools do you use on a regular basis?  (Select all that apply) - Selected Choice
Q21:Which types of specialized hardware do you use on a regular basis?  (Select all that apply) - Selected Choice
Q22:Have you ever used a TPU (tensor processing unit)?
Q23:For how many years have you used machine learning methods?
Q24:Which of the following ML algorithms do you use on a regular basis? (Select all that apply): - Selected Choice
Q25:Which categories of ML tools do you use on a regular basis?  (Select all that apply) - Selected Choice
Q26:Which categories of computer vision methods do you use on a regular basis?  (Select all that apply) - Selected Choice
Q27:Which of the following natural language processing (NLP) methods do you use on a regular basis?  (Select all that apply) - Selected Choice
Q28:Which of the following machine learning frameworks do you use on a regular basis? (Select all that apply) - Selected Choice
Q29:Which of the following cloud computing platforms do you use on a regular basis? (Select all that apply) - Selected Choice
Q30:Which specific cloud computing products do you use on a regular basis? (Select all that apply) - Selected Choice
Q31:Which specific big data / analytics products do you use on a regular basis? (Select all that apply) - Selected Choice
Q32:Which of the following machine learning products do you use on a regular basis? (Select all that apply) - Selected Choice
Q33:Which automated machine learning tools (or partial AutoML tools) do you use on a regular basis?  (Select all that apply) - Selected Choice
Q34:Which of the following relational database products do you use on a regular basis? (Select all that apply) - Selected Choice

# 檢視kaggle survey問卷內容

In [12]:
survey_2017=pd.read_csv("/Users/helwinlin/Downloads/kaggle_ml_ds_survey/kaggle-survey-2017/multipleChoiceResponses.csv",encoding="iso-8859-1",low_memory=False)
survey_2017

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,...,JobFactorExperienceLevel,JobFactorDepartment,JobFactorTitle,JobFactorCompanyFunding,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,DBA/Database Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somewhat important,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,Operations Research Practitioner,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Male,Taiwan,38.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16711,Female,Other,24.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16712,Male,Indonesia,25.0,Employed full-time,NaN,NaN,Yes,NaN,Programmer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16713,Female,Taiwan,25.0,Employed part-time,NaN,NaN,No,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16714,Female,Singapore,16.0,I prefer not to say,Yes,"Yes, but data science is a small part of what ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16715,Male,Japan,27.0,Employed full-time,NaN,NaN,No,Yes,Programmer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
survey_2018=pd.read_csv("/Users/helwinlin/Downloads/kaggle_ml_ds_survey/kaggle-survey-2018/multipleChoiceResponses.csv",low_memory=False,skiprows=[1])
survey_2018

,Time from Start to Finish (seconds),Q1,Q1_OTHER_TEXT,Q2,Q3,Q4,Q5,Q6,Q6_OTHER_TEXT,Q7,...,Q49_OTHER_TEXT,Q50_Part_1,Q50_Part_2,Q50_Part_3,Q50_Part_4,Q50_Part_5,Q50_Part_6,Q50_Part_7,Q50_Part_8,Q50_OTHER_TEXT
0,710,Female,-1,45-49,United States of America,Doctoral degree,Other,Consultant,-1,Other,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
1,434,Male,-1,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,0,Manufacturing/Fabrication,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,718,Female,-1,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,621,Male,-1,35-39,United States of America,Master’s degree,"Social sciences (anthropology, psychology, soc...",Not employed,-1,NaN,...,-1,NaN,NaN,Requires too much technical knowledge,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1
4,731,Male,-1,22-24,India,Master’s degree,Mathematics or statistics,Data Analyst,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23854,575,Male,-1,45-49,France,Doctoral degree,"Computer science (software engineering, etc.)",Chief Officer,-1,Computers/Technology,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23855,131,Female,-1,25-29,Turkey,Master’s degree,Engineering (non-computer focused),NaN,-1,NaN,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23856,370,Male,-1,22-24,Turkey,Master’s degree,"Computer science (software engineering, etc.)",Software Engineer,-1,Computers/Technology,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23857,36,Male,-1,25-29,United Kingdom of Great Britain and Northern I...,NaN,NaN,NaN,-1,NaN,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23858,502,Male,-1,25-29,Spain,Master’s degree,Mathematics or statistics,NaN,-1,NaN,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1

In [14]:
survey_2019=pd.read_csv("/Users/helwinlin/Downloads/kaggle_ml_ds_survey/kaggle-survey-2019/multiple_choice_responses.csv",low_memory=False)
survey_2019

,Time from Start to Finish (seconds),Q1,Q2,Q2_OTHER_TEXT,Q3,Q4,Q5,Q5_OTHER_TEXT,Q6,Q7,...,Q34_Part_4,Q34_Part_5,Q34_Part_6,Q34_Part_7,Q34_Part_8,Q34_Part_9,Q34_Part_10,Q34_Part_11,Q34_Part_12,Q34_OTHER_TEXT
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...
1,510,22-24,Male,-1,France,Master’s degree,Software Engineer,-1,"1000-9,999 employees",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,423,40-44,Male,-1,India,Professional degree,Software Engineer,-1,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,83,55-59,Female,-1,Germany,Professional degree,NaN,-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,391,40-44,Male,-1,Australia,Master’s degree,Other,0,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,Azure SQL Database,NaN,NaN,NaN,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19713,84,50-54,Male,-1,Japan,NaN,NaN,-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
19714,473,18-21,Male,-1,India,Bachelor’s degree,Other,-1,250-999 employees,3-4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
19715,9195,35-39,Male,-1,India,Master’s degree,Student,-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
19716,176,25-29,Male,-1,India,Master’s degree,Statistician,-1,50-249 employees,15-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
19717,567,50-54,Male,-1,France,Bachelor’s degree,Software Engineer,-1,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1

In [15]:
print(survey_2017.shape)
print(survey_2018.shape)
print(survey_2019.shape)

(16716, 228)
(23859, 395)
(19718, 246)

In [16]:
print(survey_2017.shape[0])
print(survey_2018.shape[0])
print(survey_2019.shape[0])

16716
23859
19718

In [17]:
def print_repondents_info(year,df,col_name):
    ttl_respondents=df.shape[0]
    job_title_value_counts=df[col_name].value_counts()
    job_title_percentage=(job_title_value_counts/ttl_respondents)*100
    print("{}年的總答題人數為{}".format(year,ttl_respondents))
    print("{}年的Data Analyst人數為{:,};比例為{:.2f}%".format(year,job_title_value_counts["Data Analyst"],job_title_percentage["Data Analyst"]))

In [18]:
print_repondents_info(2017,survey_2017,"CurrentJobTitleSelect")

2017年的總答題人數為16716
2017年的Data Analyst人數為1,213;比例為7.26%

In [19]:
print_repondents_info(2018,survey_2018,"Q6")

2018年的總答題人數為23859
2018年的Data Analyst人數為1,922;比例為8.06%

In [20]:
print_repondents_info(2019,survey_2019,"Q5")

2019年的總答題人數為19718
2019年的Data Analyst人數為1,598;比例為8.10%

In [46]:
survey_2017["CurrentJobTitleSelect"].value_counts()

Data Scientist                          2433
Software Developer/Software Engineer    1759
Other                                   1233
Data Analyst                            1213
Scientist/Researcher                     978
Business Analyst                         796
Researcher                               619
Machine Learning Engineer                617
Engineer                                 552
Programmer                               462
Computer Scientist                       335
Statistician                             289
DBA/Database Engineer                    187
Predictive Modeler                       181
Data Miner                               118
Operations Research Practitioner          58
Name: CurrentJobTitleSelect, dtype: int64

In [47]:
survey_2018["Q6"].value_counts()

Student                    5253
Data Scientist             4137
Software Engineer          3130
Data Analyst               1922
Other                      1322
Research Scientist         1189
Not employed                842
Consultant                  785
Business Analyst            772
Data Engineer               737
Research Assistant          600
Manager                     590
Product/Project Manager     428
Chief Officer               360
Statistician                237
DBA/Database Engineer       145
Developer Advocate          117
Marketing Analyst           115
Salesperson                 102
Principal Investigator       97
Data Journalist              20
Name: Q6, dtype: int64

In [54]:
survey_2019["Q5"].value_counts()

Data Scientist                                                                                             4085
Student                                                                                                    4014
Software Engineer                                                                                          2705
Other                                                                                                      1690
Data Analyst                                                                                               1598
Research Scientist                                                                                         1470
Not employed                                                                                                942
Business Analyst                                                                                            778
Product/Project Manager                                                                                     723
Data Engineer                                                                                               624
Statistician                                                                                                322
DBA/Database Engineer                                                                                       156
Select the title most similar to your current role (or most recent title if retired): - Selected Choice       1
Name: Q5, dtype: int64

In [50]:
(survey_2017["CurrentJobTitleSelect"].value_counts()/survey_2017.shape[0])*100

Data Scientist                          14.554917
Software Developer/Software Engineer    10.522852
Other                                    7.376167
Data Analyst                             7.256521
Scientist/Researcher                     5.850682
Business Analyst                         4.761905
Researcher                               3.703039
Machine Learning Engineer                3.691074
Engineer                                 3.302225
Programmer                               2.763819
Computer Scientist                       2.004068
Statistician                             1.728883
DBA/Database Engineer                    1.118689
Predictive Modeler                       1.082795
Data Miner                               0.705911
Operations Research Practitioner         0.346973
Name: CurrentJobTitleSelect, dtype: float64

In [22]:
da_2017=survey_2017[survey_2017['CurrentJobTitleSelect'] == 'Data Analyst']
da_2017

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,...,JobFactorExperienceLevel,JobFactorDepartment,JobFactorTitle,JobFactorCompanyFunding,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity
25,Male,Russia,22.0,Employed full-time,NaN,NaN,Yes,NaN,Data Analyst,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Male,Singapore,24.0,Employed full-time,NaN,NaN,Yes,NaN,Data Analyst,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Female,United States,27.0,Employed part-time,NaN,NaN,Yes,NaN,Data Analyst,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Male,India,25.0,Employed full-time,NaN,NaN,Yes,NaN,Data Analyst,Perfectly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,Female,United States,29.0,Employed full-time,NaN,NaN,Yes,NaN,Data Analyst,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16692,Male,Norway,34.0,Employed full-time,NaN,NaN,Yes,NaN,Data Analyst,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16693,Male,India,28.0,Employed full-time,NaN,NaN,Yes,NaN,Data Analyst,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16698,Male,Australia,NaN,Employed full-time,NaN,NaN,Yes,NaN,Data Analyst,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16702,Male,Australia,25.0,Employed full-time,NaN,NaN,Yes,NaN,Data Analyst,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16703,Male,Other,25.0,Employed full-time,NaN,NaN,Yes,NaN,Data Analyst,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
da_2018 = survey_2018[survey_2018['Q6'] == 'Data Analyst']
da_2018

,Time from Start to Finish (seconds),Q1,Q1_OTHER_TEXT,Q2,Q3,Q4,Q5,Q6,Q6_OTHER_TEXT,Q7,...,Q49_OTHER_TEXT,Q50_Part_1,Q50_Part_2,Q50_Part_3,Q50_Part_4,Q50_Part_5,Q50_Part_6,Q50_Part_7,Q50_Part_8,Q50_OTHER_TEXT
4,731,Male,-1,22-24,India,Master’s degree,Mathematics or statistics,Data Analyst,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1
14,846,Female,-1,25-29,Argentina,Bachelor’s degree,"A business discipline (accounting, economics, ...",Data Analyst,-1,Other,...,-1,NaN,Too time-consuming,NaN,NaN,NaN,NaN,NaN,NaN,-1
27,3266,Female,-1,30-34,United States of America,Master’s degree,"Medical or life sciences (biology, chemistry, ...",Data Analyst,-1,Computers/Technology,...,-1,NaN,Too time-consuming,Requires too much technical knowledge,NaN,NaN,NaN,NaN,NaN,-1
33,1163,Female,-1,25-29,China,Master’s degree,"Computer science (software engineering, etc.)",Data Analyst,-1,Energy/Mining,...,-1,Too expensive,NaN,Requires too much technical knowledge,NaN,NaN,NaN,NaN,NaN,-1
46,2265,Male,-1,35-39,"Iran, Islamic Republic of...",Master’s degree,"Information technology, networking, or system ...",Data Analyst,-1,Manufacturing/Fabrication,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,None of these reasons apply to me,NaN,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23785,282,Male,-1,25-29,Turkey,Master’s degree,"A business discipline (accounting, economics, ...",Data Analyst,-1,I am a student,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23786,877,Male,-1,25-29,Turkey,Doctoral degree,"A business discipline (accounting, economics, ...",Data Analyst,-1,Other,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23798,439,Male,-1,30-34,Germany,Master’s degree,"Computer science (software engineering, etc.)",Data Analyst,-1,Computers/Technology,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23838,180,Male,-1,22-24,Turkey,Bachelor’s degree,"A business discipline (accounting, economics, ...",Data Analyst,-1,Computers/Technology,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23849,820,Female,-1,18-21,India,Master’s degree,"Computer science (software engineering, etc.)",Data Analyst,-1,I am a student,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1

In [24]:
da_2019 = survey_2019[survey_2019['Q5'] == 'Data Analyst']
da_2019

,Time from Start to Finish (seconds),Q1,Q2,Q2_OTHER_TEXT,Q3,Q4,Q5,Q5_OTHER_TEXT,Q6,Q7,...,Q34_Part_4,Q34_Part_5,Q34_Part_6,Q34_Part_7,Q34_Part_8,Q34_Part_9,Q34_Part_10,Q34_Part_11,Q34_Part_12,Q34_OTHER_TEXT
16,485,50-54,Female,-1,United States of America,Master’s degree,Data Analyst,-1,50-249 employees,1-2,...,Microsoft SQL Server,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
21,1529,22-24,Female,-1,Ireland,Master’s degree,Data Analyst,-1,"1000-9,999 employees",10-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
33,884,25-29,Female,-1,Other,Master’s degree,Data Analyst,-1,"1000-9,999 employees",5-9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
37,384,35-39,Male,-1,South Korea,Master’s degree,Data Analyst,-1,50-249 employees,3-4,...,NaN,NaN,NaN,NaN,AWS DynamoDB,NaN,NaN,NaN,NaN,-1
38,973,25-29,Male,-1,Brazil,Master’s degree,Data Analyst,-1,250-999 employees,0,...,Microsoft SQL Server,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19652,33108,22-24,Male,-1,India,Bachelor’s degree,Data Analyst,-1,50-249 employees,5-9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
19657,5380,25-29,Male,-1,Other,Some college/university study without earning ...,Data Analyst,-1,50-249 employees,10-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
19672,104,25-29,Female,-1,South Korea,No formal education past high school,Data Analyst,-1,0-49 employees,1-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
19685,331,30-34,Male,-1,China,Master’s degree,Data Analyst,-1,250-999 employees,3-4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
19700,1480,70+,Male,-1,Brazil,Professional degree,Data Analyst,-1,250-999 employees,1-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1

In [64]:
da_2017['JobFunctionSelect'].value_counts()

Analyze and understand data to influence product or business decisions                                                631
Build and/or run the data infrastructure that your business uses for storing, analyzing, and operationalizing data     98
Build and/or run a machine learning service that operationally improves your product or workflows                      73
Build prototypes to explore applying machine learning to new areas                                                     47
Other                                                                                                                  27
Research that advances the state of the art of machine learning                                                        11
Name: JobFunctionSelect, dtype: int64

In [65]:
da_2017['JobFunctionSelect'].value_counts().sum()

887

In [67]:
(da_2017['JobFunctionSelect'].value_counts()/da_2017['JobFunctionSelect'].value_counts().sum())*100

Analyze and understand data to influence product or business decisions                                                71.138670
Build and/or run the data infrastructure that your business uses for storing, analyzing, and operationalizing data    11.048478
Build and/or run a machine learning service that operationally improves your product or workflows                      8.229989
Build prototypes to explore applying machine learning to new areas                                                     5.298760
Other                                                                                                                  3.043968
Research that advances the state of the art of machine learning                                                        1.240135
Name: JobFunctionSelect, dtype: float64

In [25]:
def get_value_ratios(df,col_name):
    return (df[col_name].value_counts()/df[col_name].value_counts().sum())*100

In [26]:
get_value_ratios(da_2017,'JobFunctionSelect')

Analyze and understand data to influence product or business decisions                                                71.138670
Build and/or run the data infrastructure that your business uses for storing, analyzing, and operationalizing data    11.048478
Build and/or run a machine learning service that operationally improves your product or workflows                      8.229989
Build prototypes to explore applying machine learning to new areas                                                     5.298760
Other                                                                                                                  3.043968
Research that advances the state of the art of machine learning                                                        1.240135
Name: JobFunctionSelect, dtype: float64

In [81]:
da_2018["Q11_Part_1"].value_counts().index

Index(['Analyze and understand data to influence product or business decisions'], dtype='object')

In [82]:
da_2018["Q11_Part_1"].value_counts()

Analyze and understand data to influence product or business decisions    1287
Name: Q11_Part_1, dtype: int64

In [84]:
da_2018["Q11_Part_1"].value_counts().values

array([1287])

In [27]:
da_2018["Q11_Part_1"]

4                                                      NaN
14       Analyze and understand data to influence produ...
27       Analyze and understand data to influence produ...
33       Analyze and understand data to influence produ...
46                                                     NaN
                               ...
23785                                                  NaN
23786    Analyze and understand data to influence produ...
23798                                                  NaN
23838                                                  NaN
23849    Analyze and understand data to influence produ...
Name: Q11_Part_1, Length: 1922, dtype: object

In [29]:
channel_names = [] # 複選題的選項
channel_checks = [] # 複選題的勾選數
for col_name in da_2018.columns:
        # 將符合複選題的題目特徵（或題號特徵）的變數欄位納入
        # 排除題目特徵中有 OTHER_TEXT 這種開放式回答的變數欄位
    if ("Q11" in col_name) and ('OTHER_TEXT' not in col_name):
        channel_name = da_2018[col_name].value_counts().index # 取出複選題選項
        channel_check = da_2018[col_name].value_counts().values # 取出複選題的勾選數
            # 排除空字串的複選題選項
        if channel_name.size != 0:
            channel_names.append(channel_name[0]) # 存入複選題選項
            channel_checks.append(channel_check[0]) # 存入複選題勾選數
print(channel_names)
print(channel_checks)

['Analyze and understand data to influence product or business decisions', 'Build and/or run a machine learning service that operationally improves my product or workflows', 'Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data', 'Build prototypes to explore applying machine learning to new areas', 'Do research that advances the state of the art of machine learning', 'None of these activities are an important part of my role at work', 'Other']
[1287, 360, 610, 426, 253, 97, 69]

In [40]:
channel_counts=pd.Series(channel_checks,index=channel_names)    
channel_counts

Analyze and understand data to influence product or business decisions                                              1287
Build and/or run a machine learning service that operationally improves my product or workflows                      360
Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data     610
Build prototypes to explore applying machine learning to new areas                                                   426
Do research that advances the state of the art of machine learning                                                   253
None of these activities are an important part of my role at work                                                     97
Other                                                                                                                 69
dtype: int64

In [43]:
channel_names = [] # 複選題的選項
channel_checks = [] # 複選題的勾選數
for col_name in da_2018.columns:
        # 將符合複選題的題目特徵（或題號特徵）的變數欄位納入
        # 排除題目特徵中有 OTHER_TEXT 這種開放式回答的變數欄位
    if ("Q11" in col_name) and ('OTHER_TEXT' not in col_name):
        channel_name = da_2018[col_name].value_counts().index # 取出複選題選項
        channel_check = da_2018[col_name].value_counts().values # 取出複選題的勾選數
            # 排除空字串的複選題選項
        if channel_name.size != 0:
            channel_names.append(channel_name[0]) # 存入複選題選項
            channel_checks.append(channel_check[0]) # 存入複選題勾選數
channel_counts=pd.Series(channel_checks,index=channel_names)
channel_ratios=(channel_counts/channel_counts.sum()).sort_values(ascending=False)
print(channel_ratios)

Analyze and understand data to influence product or business decisions                                              0.414894
Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data    0.196647
Build prototypes to explore applying machine learning to new areas                                                  0.137331
Build and/or run a machine learning service that operationally improves my product or workflows                     0.116054
Do research that advances the state of the art of machine learning                                                  0.081560
None of these activities are an important part of my role at work                                                   0.031270
Other                                                                                                               0.022244
dtype: float64

In [42]:
channel_ratios=(channel_counts/channel_counts.sum()).sort_values(ascending=False)
channel_ratios

Analyze and understand data to influence product or business decisions                                              0.414894
Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data    0.196647
Build prototypes to explore applying machine learning to new areas                                                  0.137331
Build and/or run a machine learning service that operationally improves my product or workflows                     0.116054
Do research that advances the state of the art of machine learning                                                  0.081560
None of these activities are an important part of my role at work                                                   0.031270
Other                                                                                                               0.022244
dtype: float64

In [48]:
def get_checkbox_ratios(df, col_pattern):
    channel_names = [] # 複選題的選項
    channel_checks = [] # 複選題的勾選數
    for col_name in df.columns:
        # 將符合複選題的題目特徵（或題號特徵）的變數欄位納入
        # 排除題目特徵中有 OTHER_TEXT 這種開放式回答的變數欄位
        if (col_pattern in col_name) and ('OTHER_TEXT' not in col_name):
            channel_name = df[col_name].value_counts().index # 取出複選題選項
            channel_check = df[col_name].value_counts().values # 取出複選題的勾選數
            # 排除空字串的複選題選項
            if channel_name.size != 0:
                channel_names.append(channel_name[0]) # 存入複選題選項
                channel_checks.append(channel_check[0]) # 存入複選題勾選數
    channel_counts=pd.Series(channel_checks,index=channel_names)
    channel_ratios=(channel_counts/channel_counts.sum()).sort_values(ascending=False)
    return channel_ratios

In [49]:
get_checkbox_ratios(da_2018,"Q11")

Analyze and understand data to influence product or business decisions                                              0.414894
Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data    0.196647
Build prototypes to explore applying machine learning to new areas                                                  0.137331
Build and/or run a machine learning service that operationally improves my product or workflows                     0.116054
Do research that advances the state of the art of machine learning                                                  0.081560
None of these activities are an important part of my role at work                                                   0.031270
Other                                                                                                               0.022244
dtype: float64